# MongoDB
MONGODB_URI=mongodb+srv://abstriqtechnologies_db_user:jOpD6aSg2WmonQi9@cluster0.qyhvrna.mongodb.net/?appName=Cluster0

# SMS (SMSIndiaHub)
SMS_API_KEY=7GPsKqcKEkuopwryxfsy5A
SMS_SENDER_ID=SMSHUB
SMS_GWID=2

# Razorpay
RAZORPAY_KEY_ID=rzp_test_Sx4iEFt69t5wjN
RAZORPAY_KEY_SECRET=sRtr3LQsF6fJuWw4tU65XsFF
RAZORPAY_WEBHOOK_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=

# JWT
JWT_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
