{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.mjs",
      "options": { "tabWidth": 2 }
    }
  ]
}
